body {
  background-color: azure;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  line-height: 1rem;
  align-items: center;
}
/* container */
.container {
    width: 500px;
    margin: 0 auto;
  }
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}
/* cards */
.card-white {
  background-color: white;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}


/* Text */
h1 {
  color: #2a4387;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 28px;
  line-height: 2rem;
}

p {
  color: #313131;
  margin-bottom: 50px;
}

a {
  color: #2a4387;
  text-decoration: none;
}

.text-center {
  text-align: center;
}
.text-white {
  color: #ffffff;
}

/* lists */

.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}


/* images */
.img-circle {
  border-radius: 100%;
}


/* button */
.btn-orange {
  background-color: #f4813a;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}

.btn-orange:hover {
  background-color: black;
  color: white;
}
